
.Header .navbar{
    background-color:  rgb(3, 196, 235) !important;
    color: white !important;
}
.Header .mr-auto{
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color:  white !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: white;
}
.dropdown-submenu {
    position: relative;
    }

    .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
    }