$clhv_blue: #3498db;
.male_product_all {
    background-color: #d4eaff;
        .header_namePage_male {
            font-family: "arima madurai";
        }
        .infomation_male {
            font-family: "roboto";
            h5 {
                font-size: 15px;
            }
        }
        .infomation_male :hover {
            font-family: "roboto";
            h5 {
                font-size: 16px;
        }
    }
    .product {
        background-color: #ECEEF0;
        margin: 7px;
        padding: 9px;
        .img-product{
            position: relative;
            text-align: center;
            overflow: hidden;
            .img-product-1{
            }
            .img-product-2{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                transition: opacity .5s;
            }
            .add-to-cart{
                position: absolute;
                left: 0;
                width: 100%;
                bottom: -40px;
                padding: 5px 0;
                text-decoration: none;
                background-color: #404040;
                color: #fff;
                transition: bottom .5s;
                &:hover{
                    background-color: $clhv_blue;
                }
            }
            .social{
                position: absolute;
                z-index: 1;
                right: 0;
                bottom: 40px;
                a{
                    display: block;
                    background-color: #fff;
                    border-radius: 50%;
                    padding: 8px 9.5px;
                    text-decoration: none;
                    margin-bottom: 8px;
                    transition: background-color .5s;
                    &:hover{
                        background-color: $clhv_blue;
                    }
                }
                .qick-view-social, .cart-social, .wishlist-social{
                    transform: translateX(50px);
                    transition: all 0.4s;
                }
                .qick-view-social{

                }
                .cart-social{
                    transition-delay: .2s;
                }
                .wishlist-social{
                    transition-delay: .3s;
                }
            }
        }
        &:hover{
            .img-product-2{
                opacity: 0;
            }
            .add-to-cart{
                bottom: 0;
            }
            .social{
                .qick-view-social, .cart-social, .wishlist-social{
                    transform: translateX(0);
                }
            }
        }
        .content{
            text-align: center;
            padding: 2px 2px;
            a{
                color: #303030;
                &:hover{
                    color: #007bff;
                }
            }
            p{
                margin-bottom: 0;
            }
        }
    }

}
