.taskdetail{
    margin-top: 20px;
}
.title-detailTask{
    width: 100%;
    height: 50px;
}
.card-custom{
    margin: 0;
    padding: 0;
}
.card-bodyDetail{
    padding-top: 20px;
}
$position-child : center;
$position-parent : absolute;
.detailNameTask{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: $position-child;
    align-items: $position-child;
    padding-right: 0;
    position: relative;
    .btnback{
        position: $position-parent;
        top: 0;
        left: 0;
    }
    .Adddetailinput{
        position: $position-parent;
        bottom: 0;
        left: 0;
    }
}
$border:  2px solid gray;
.detailStep{
    border-top: $border; 
    border-left: $border;
    padding-left: 0;
}
.nameStep{
    text-align: left;
    padding-left: 10px;
}