.mt-15 {
  margin-top: 15px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.pl-84 {
  margin-left: 37%;
  cursor: pointer;
}

.badge {
  cursor: pointer;
}

.sort_selected::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}